@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{  
    font-family: 'Righteous', cursive;
    padding: 5;
    margin: 3;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-rows: 0.5fr 4fr 4fr 4fr 4fr 3fr ;
    grid-template-columns: 20fr 10fr 20fr 80fr ;
    grid-gap: 1px;
    grid-template-areas:
    " areaheader areaheader areaheader areaheader"
    " areacentro1  areaderecha1 areaderecha1 cartaarea"
    " areacentro2 areacentro2 areaderecha2 cartaarea"
    " areacentro3 areaderecha3 areaderecha3 cartaarea"
    " areacentro4 areacentro4 areaderecha4 cartaarea"
    " areafooter areafooter areafooter areafooter"
    
    }
    
    .grid-buttoms{
        background-color:#CC8D65;
        border-radius: 12px;
        display: flex;
        grid-area: areabuttoms;
        height: 5rem;
        margin-top: 20%;
        margin-left: 80%;
        position: fixed;
        top: 0;
        width: 20%;    
    }
    .grid-carta{
        
        grid-area: cartaarea;
    }
    .grid-centro1{
        
       grid-area: areacentro1;
       
    }
    .grid-derecha1{
       
        grid-area: areaderecha1;
    }
    
    .grid-centro2{
      
       grid-area: areacentro2;
    }
    .grid-derecha2{
        
        grid-area: areaderecha2;
    }
   
    .grid-centro3{
        
       grid-area: areacentro3;
    }
    .grid-derecha3{
       
        grid-area: areaderecha3;
    }
   
    .grid-centro4{
        
       grid-area: areacentro4;
    }
    .grid-derecha4{
       
        grid-area: areaderecha4;
    }
   
   
    
    
    .grid-hder {
        background-color: #211F1A;
        border-radius: 12px;
        grid-area: areaheader;
                  }
                  nav{
                    background-color: #211F1A;
                    height: 100px;
                    width: 100%;
                }
                .enlace{
                    position: absolute;
                    padding: 20px 50px;
                }
                .logo{
                    background-color: #211F1A;
                    height: 80px;
                }
                nav ul{
                    float: right;
                    margin-right: 20px;
                }
                nav ul li{
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                }
                nav ul li a{
                    background-color: #211F1A;
                    color: #fff;
                    font-size: 18px;
                    padding: 7px 13px;
                    border-radius: 3px;
                    text-transform: uppercase;
                }
                li a.active, li a:hover{
                    background-color: #211F1A;
                    background:  #CC8D65;
                    transition: .5s;
                }
                .checkbtn{
                    background-color: #211F1A;
                    font-size: 30px;
                    color: #fff;
                    float: right;
                    line-height: 80px;
                    margin-right: 40px;
                    cursor: pointer;
                    display: none;
                }
                #check{
                    background-color: #211F1A;
                    display: none;
                }
                
                
    .grid-footer{ 
        background: linear-gradient(  white , #CC8D65 );
        grid-area: areafooter;
        margin-top: 4%;
    }

    .buttom  {
        background-color:#CC8D65;
        margin-left: 9%;
        margin-top: 8%;
        height:30px;
        width: 30px;
        }
    

   .footer{
    background: none;
    font-family: 'Pacifico', serif;
    margin-left: 30%;
    margin-top: -5%;
   }

   h1{
   text-align: center;
   }

.logofooter{
    margin-left: 10%;
    height: 100px;
    width: 100px;
   }

  table.conespacio {
  border-collapse: separate;
  border-spacing: 60px;
  margin: 0 auto;
}
  
.socialmedia , .social{
    background: none;
    border-style: none;
    display: block;
    margin-bottom: 1%;
    margin-left:50%;
    height:30px;
    width: 30px;
   }
.Tittle{
    text-align: center;
}
img{
    
    width: 100%;
    height: 100%;
}
.openChatBtn {
    background-color:#CC8D65;
    border-style: none;
 }
  .openChat {
     display: none;
     position: fixed;
     bottom: 0;
     right: 15px;
     
     z-index: 9;
  }
  form {
     max-width: 300px;
     padding: 10px;
     background-color: white;
  }
  form textarea {
     width: 70%;
     font-size: 18px;
     padding: 15px;
     margin: 5px 0 22px 0;
     border: none;
     font-weight: 100;
     background:white;
     color: rgb(0, 0, 0);
     resize: none;
     min-height: 200px;
  }
  form textarea:focus {
     background-color: white;
     outline: none;
  }
  form .btn {
     background-color:#211F1A;
     color: white;
     padding: 16px 20px;
     font-weight: bold;
     border: none;
     cursor: pointer;
     width: 100%;
     margin-bottom: 10px;
     opacity: 0.8;
  }
  form .close {
     background-color:#CC8D65;
  }
  form .btn:hover, .openChatBtn:hover {
     opacity: 1;
  }


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }

}

@media (max-width: 858px){
    .grid-container {
        display: grid;
        grid-template-rows: 0.5fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 3fr ;
        grid-template-columns: 30fr 60fr ;
        grid-gap: 1px;
        grid-template-areas:
        "areaheader areaheader "
        " areacentro1  cartaarea"
        " areacentro2 cartaarea"
        " areacentro3 cartaarea"
        " areacentro4 cartaarea"
        " areaderecha1  cartaarea"
        " areaderecha2 cartaarea"
        " areaderecha3 cartaarea"
        " areaderecha4 cartaarea"
        "areafooter areafooter "
    }    
        .grid-buttoms{
            background-color:#CC8D65;
            border-radius: 12px;
            display: flex;
            grid-area: areabuttoms;
            height: 3rem;
            margin-top: 40%;
            margin-left: 50%;
            position: fixed;
            top: 0;
            width: 60%; }
            .buttom  {
                background-color:#CC8D65;
                margin-left: 9%;
                margin-top: 5%;
                height:20px;
                width: 20px;
                }
    .checkbtn{
        display: block;
    }
    #check:checked ~ ul{
        left:0;
    }
    li a:hover, li a.active{
        background: none;
        color: #CC8D65;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #211F1A;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .footer{
        background: none;
        font-family: 'Pacifico', serif;
        margin-left: 35%;
        margin-top:4%;
       }
    img{
    
        width: 90%;
        height: 90%;
    }
    .logofooter{
        margin-left: 10%;
        height: 100px;
        width: 100px;
       }
   
}