<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caftería</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    
    <div class="grid-container">
            <div class="grid-buttoms">
                <a  class="buttom" href="indexengish.html"><img class="buttom" src="../img/idioma.png"  /></a>
                <button class="openChatBtn" onclick="openForm()"><img class="buttom" src="../img/chat.svg" /></button>
                <div class="openChat">
                <form>
                <h1>Chat</h1>
                <label for="msg"><b>Message</b></label>
                <textarea placeholder="Type message.." name="msg" required></textarea>
                <button type="submit" class="btn">Send</button>
                <button type="button" class="btn close" onclick="closeForm()">
                Close
                </button>
                </form>
                </div>
</div>
                
            
        <div class="grid-hder">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="../img/logo.png" alt="" class="logo">
        </a>
        <ul>
            <li><a class="active" href="index.html">Inicio</a></li>
            <li><a href="reservas.html">Reservas</a></li>
            <li><a href="ubication.html">Contacto y ubicación </a></li>
            <li><a href="carta.html">Nuestra carta</a></li>
        </ul>
    </nav>
    <section></section>
</div>
<div class="grid-image">
    <img class="welcomeimg" src="../img/welcomepage.png" alt="">
</div>
<div class="grid-txt1">
    <h1>CONÓCENOS </h1>
    <p class="txt" >
        Las cafeterías pueden tener características muy distintas entre sí. En algunos casos, por la variedad de comidas que ofrecen, son comparables con un restaurante. Si se destacan por la cantidad de bebidas a disposición de los clientes, se asemejan a un bar. En ocasiones, de hecho, un mismo espacio puede presentarse como cafetería, bar y restaurante.

        Por lo general las cafeterías cuentan con varias mesas. Los clientes, al arribar, se sientan y aguardan que se acerque un camarero para tomarles el pedido y luego servirles aquello que han solicitado. Una cafetería también puede tener una barra donde el pedido se realiza directamente a aquel que prepara el café.
        
    </p>
</div>
<div class="grid-img1">
    <img class="imgknow" src="../img/cofee.jpg" alt="">
</div>
<div class="grid-txt2">
    <h1>CONOCE NUESTRO EQUIPO </h1>
                <p class="txt" >
                    Las cafeterías pueden tener características muy distintas entre sí. En algunos casos, por la variedad de comidas que ofrecen, son comparables con un restaurante. Si se destacan por la cantidad de bebidas a disposición de los clientes, se asemejan a un bar. En ocasiones, de hecho, un mismo espacio puede presentarse como cafetería, bar y restaurante.

                    Por lo general las cafeterías cuentan con varias mesas. Los clientes, al arribar, se sientan y aguardan que se acerque un camarero para tomarles el pedido y luego servirles aquello que han solicitado. Una cafetería también puede tener una barra donde el pedido se realiza directamente a aquel que prepara el café.
                    
                </p>
</div>
<div class="grid_img2">
    <img class="imgknow" src="../img/barwoman.jpg" alt="">
</div>
<div class="grid-value1">
    <h2>AMOR</h2>
    <img class="imgvalue" src="../img/value1.png" alt="">
    <p> Por lo general las cafeterías cuentan con varias mesas. Los clientes, al arribar, se sientan y aguardan que se acerque un camarero para tomarles el pedido y luego servirles aquello que han solicitado. Una cafetería también puede tener una barra donde el pedido se realiza directamente a aquel que prepara el café.</p>
</div>
<div class="grid-value2">
    <h2>PRODUCTOS ECO</h2>
    <img class="imgvalue" src="../img/value2.png" alt="">
    <p> Por lo general las cafeterías cuentan con varias mesas. Los clientes, al arribar, se sientan y aguardan que se acerque un camarero para tomarles el pedido y luego servirles aquello que han solicitado. Una cafetería también puede tener una barra donde el pedido se realiza directamente a aquel que prepara el café.</p>
</div>
<div class="grid-value3">
    <h2>RECETAS INTERNACIONALES</h2>
    <img class="imgvalue" src="../img/value3.png" alt="">
    <p> Por lo general las cafeterías cuentan con varias mesas. Los clientes, al arribar, se sientan y aguardan que se acerque un camarero para tomarles el pedido y luego servirles aquello que han solicitado. Una cafetería también puede tener una barra donde el pedido se realiza directamente a aquel que prepara el café.</p>
</div>
<div class="grid-footer">
    <img class="logofooter" src="../img/logo.png" alt="">
    <p class="footer">Terminos legales</p>
    <button class="social" onclick="movilSocial()"><img class= "socialmedia" src="../img/movil.svg" alt="" srcset=""></button>
    <button class="social" onclick="correoSocial()"><img class= "socialmedia" src="../img/correo.svg" alt="" srcset=""></button>
    <button class="social" onclick="whatsappSocial()"><img class= "socialmedia" src="../img/whatsapp.svg" alt="" srcset=""></button>
    <button class="social" onclick="instagramSocial()"><img class= "socialmedia" src="../img/instagram.svg" alt="" srcset=""></button>
    
</div>
</div>
</body>
<script src="reserva.js"></script>
</html>